.muspeedtest1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: -49px;
  font-size: inherit;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
}
.home3,
.logo1 {
  position: relative;
}
.logo1 {
  height: 55px;
  width: 399.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.home3 {
  text-transform: capitalize;
  display: inline-block;
  min-width: 48px;
  cursor: pointer;
}
.line-div {
  height: 2px;
  width: 17px;
  position: relative;
  border-top: 2px solid var(--color-lavenderblush);
  box-sizing: border-box;
  display: none;
}
.nav13,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav13 {
  flex-direction: row;
  cursor: pointer;
}
.navigation {
  flex-direction: column;
  padding: 0 18.4px 0 0;
}
.home4 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 57px;
}
.nav1-child1 {
  height: 2px;
  width: 17px;
  position: relative;
  border-top: 2px solid var(--color-lavenderblush);
  box-sizing: border-box;
  display: none;
}
.nav14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.home5 {
  width: 39px;
  position: relative;
  text-transform: capitalize;
  display: none;
}
.nav1-child2 {
  width: 3px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0;
}
.nav15 {
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home6,
.nav1-child3 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.home6 {
  top: 0;
  text-transform: capitalize;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  cursor: pointer;
}
.nav1-child3 {
  width: 3px;
  height: 1px;
  top: 24px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0;
}
.nav1-group,
.nav16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav16 {
  align-self: stretch;
  height: 24px;
  position: relative;
}
.nav1-group {
  flex: 1;
  padding: 0 1px 0 0;
  gap: 6px;
}
.container,
.header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.header {
  width: 342px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 39.6px;
  text-align: left;
  font-size: var(--nav-1-size);
  font-family: var(--nav-1);
}
.container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-mistyrose-100);
  font-family: var(--font-bellota-text);
}
.border {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(180deg, #7d3b47, #926271);
}
.upload-mbps {
  margin-bottom: -9px;
  height: 34px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  
  z-index: 2;
}
.speed-label {
  align-self: stretch;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.mbps {
  width: 146px;
  height: 22px;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  
  z-index: 1;
}
.jitter-value {
  width: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.download-mbps {
  margin-bottom: -9px;
  height: 34px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  
  z-index: 2;
}
.download-mbps-wrapper {
  align-self: stretch;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.mbps1 {
  width: 164px;
  height: 22px;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  
  z-index: 1;
}
.labels1,
.loss-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loss-value {
  flex: 1;
  flex-direction: column;
  min-width: 137px;
}
.labels1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.ip-address {
  height: 30px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.i-p-address {
  width: 379px;
  flex-direction: row;
  padding: 0 45px;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.i-p-address,
.metrics,
.speed {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.speed {
  flex: 1;
  flex-direction: column;
  gap: 28px;
}
.metrics {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 13px;
  box-sizing: border-box;
}
.ms,
.ping {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}
.ping {
  align-self: stretch;
  height: 30px;
  flex-shrink: 0;
  z-index: 2;
}
.ms {
  line-height: 22px;
  min-width: 58px;
  z-index: 1;
}
.ping-metric,
.ping-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.ping-metric {
  width: 86px;
  flex-direction: column;
  padding: 0 var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.jitter,
.ms1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.jitter {
  align-self: stretch;
  height: 30px;
  z-index: 2;
}
.ms1 {
  width: 63px;
  height: 22px;
  line-height: 26px;
  z-index: 1;
}
.bandwidth-content {
  width: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.become-an-expert,
.loss {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.loss {
  align-self: stretch;
  height: 32px;
}
.become-an-expert {
  width: 48px;
  height: 22px;
  line-height: 26px;
}
.loss-metric,
.ping1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ping1 {
  align-self: stretch;
  justify-content: flex-start;
}
.loss-metric {
  width: 77px;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
}
.network,
.network-details {
  display: flex;
  max-width: 100%;
}
.network {
  width: 411px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.network-details {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 48px 50px 69px;
  box-sizing: border-box;
  position: relative;
  gap: 52px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: #6d303b;
  width: 176px;
  height: 42px;
}
.go-again,
.share {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 96px;
  height: 34px;
  display: none;
}
.go-again {
  left: 45px;
  text-transform: capitalize;
  display: inline-block;
  width: 156px;
  height: 32px;
  z-index: 2;
}
.bandwidth-header {
  height: 42px;
  width: 201px;
  position: relative;
}
.share2 {
  height: 32px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  min-width: 64px;
}
.share-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.vector-icon {
  height: 30px;
  width: 32px;
  position: relative;
}
.button-container,
.share1 {
  display: flex;
  flex-direction: row;
}
.share1 {
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.button-container {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.button-container-wrapper {
  width: 493px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.button-container-wrapper,
.content,
.labels {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content {
  width: 542px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
}
.labels {
  width: 820px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
}
.bandwidth-analysis-icon {
  height: 300px;
  width: 450px;
  position: absolute;
  margin: 0 !important;
  top: 100px;
  left: 55px;
 
}
.campus-day-bandwidth {
  margin: 0;
  height: 53px;
  flex: 1;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.summary,
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.title {
  flex: 1;
  position: relative;
}
.summary {
  align-self: stretch;
  padding: 0 29px;
  box-sizing: border-box;
}
.today-the-20st {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-sudo-var);
  color: rgba(245, 226, 226, 0.84);
}
.speed-labels {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.screenshot-2024-05-20-at-1239 {
  height: 338px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.download-value-label,
.nav-home {
  justify-content: flex-start;
  max-width: 100%;
}
.nav-home {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 44px 0 43px;
  box-sizing: border-box;
}
.download-value-label {
  width: 604px;
  flex-direction: column;
  gap: 21px;
}
.click-homepage,
.download-value-label,
.value-label {
  display: flex;
  align-items: flex-start;
}
.value-label {
  width: 796px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-snow);
}
.click-homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-54xl) 170px 244px 211px;
  box-sizing: border-box;
  gap: 189px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-pt-sans-caption);
}
@media screen and (max-width: 750px) {
  .nav1-group {
    display: none;
  }
  .header {
    width: 202.6px;
  }
  .campus-day-bandwidth {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 675px) {
  .network-details {
    gap: 26px;
    padding-left: 34px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-base);
  }
  .nav-home {
    padding-left: 21px;
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .click-homepage {
    gap: 94px;
    padding-left: var(--padding-86xl);
    padding-right: 85px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header {
    gap: var(--gap-xl);
  }
  .mbps,
  .mbps1 {
    font-size: var(--font-size-lgi);
  }
  .labels1 {
    gap: var(--gap-base);
  }
  .ip-address {
    font-size: var(--nav-1-size);
  }
  .i-p-address {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .become-an-expert,
  .jitter,
  .loss,
  .ms,
  .ms1,
  .ping {
    font-size: var(--nav-1-size);
  }
  .network {
    flex-wrap: wrap;
  }
  .go-again,
  .share2 {
    font-size: var(--nav-1-size);
  }
  .button-container {
    flex-wrap: wrap;
  }
  .campus-day-bandwidth {
    font-size: var(--font-size-lgi);
  }
  .click-homepage {
    gap: 47px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
