.backgroundIcon {
  height: 750px;
  width: 993px;
  position: absolute;
  margin: 0 !important;
  right: -36px;
  bottom: -69px;
  border-radius: var(--br-81xl);
}
.must {
  margin: 0;
  height: 72px;
  width: 184px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.chvronIcon {
  height: 86px;
  width: 86px;
  position: relative;
  z-index: 1;
  margin-left: -23px;
}
.mustParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.mahindraUniversitySpeed {
  align-self: stretch;
  height: 35px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.mahindraUniversitySpeedTestWrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-32xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.knowMoreAbout {
  height: 26px;
  width: 705px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.knowMoreAboutYourInternetWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--nav-1-size);
  color: var(--color-white);
}
.frameParent,
.whatMustFrameInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
}
.whatMustFrameInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xl) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-45xl);
  color: var(--color-snow);
  font-family: var(--font-pt-sans-caption);
}
.speedSymbolIcon {
  width: 46px;
  height: 20px;
  position: relative;
}
.speedSymbolWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.speedTest {
  flex: 1;
  position: relative;
  text-transform: capitalize;
}
.frameDiv {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.clickTheGo {
  height: 47px;
  width: 464px;
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.clickTheGoButtonToGetInWrapper,
.frameContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.clickTheGoButtonToGetInWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -1px;
  font-size: var(--nav-1-size);
  font-family: var(--font-quicksand);
}
.frameContainer {
  width: 522px;
  flex-direction: column;
  justify-content: flex-start;
}
.worldSymbolIcon {
  width: 39px;
  height: 39px;
  position: relative;
}
.worldSymbolWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-8) 0 0;
}
.discoverTheHotspots,
.navigateYourWay {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}
.navigateYourWay {
  max-width: 100%;
}
.discoverTheHotspots {
  align-self: stretch;
  height: 56px;
  font-size: var(--nav-1-size);
  font-weight: 300;
  font-family: var(--font-quicksand);
  flex-shrink: 0;
}
.frameParent2,
.navigateYourWayAcrossTheCParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.navigateYourWayAcrossTheCParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs-8);
  min-width: 311px;
}
.frameParent2 {
  width: 532px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.rocketIcon {
  width: 54px;
  height: 52px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.rocketWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.letOurMl,
.unravelPeakHours {
  position: relative;
  text-transform: capitalize;
}
.unravelPeakHours {
  display: inline-block;
  max-width: 100%;
}
.letOurMl {
  align-self: stretch;
  font-size: var(--nav-1-size);
  font-weight: 300;
  font-family: var(--font-quicksand);
}
.unravelPeakHoursForSeamlesParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  min-width: 332px;
  max-width: 100%;
}
.frameParent3 {
  width: 578px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frameParent1,
.frameParent3,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl-2);
}
.whatMustFrameChild {
  width: 851px;
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
}
.backgroundParent,
.homepageInner,
.whatMustFrame,
.whatMustFrameChild {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.whatMustFrame {
  flex: 1;
  border-radius: var(--br-26xl);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-6xl) var(--padding-134xl);
  box-sizing: border-box;
  gap: var(--gap-22xl);
  z-index: 1;
}
.backgroundParent,
.homepageInner {
  flex-direction: row;
}
.backgroundParent {
  flex: 1;
  position: relative;
}
.homepageInner {
  width: 992px;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-red-hat-mono);
}
@media screen and (max-width: 975px) {
  .must {
    font-size: var(--font-size-32xl);
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .whatMustFrameChild {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .whatMustFrame {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-80xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .must {
    font-size: var(--font-size-19xl);
  }
  .chvronIcon {
    margin-left: 0;
  }
  .mustParent {
    flex-wrap: wrap;
  }
  .mahindraUniversitySpeed,
  .navigateYourWay,
  .speedTest,
  .unravelPeakHours {
    font-size: var(--nav-1-size);
  }
  .whatMustFrame {
    gap: var(--gap-xl);
  }
}
