.backgroundIcon {
  width: 1178px;
  height: 330px;
  position: absolute;
  margin: 0 !important;
  right: -107px;
  bottom: -76px;
}
.mustHistory {
  margin: 0;
  height: 53px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.bhuvanaTejaKanakam {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.bichevronRightIcon {
  height: 53px;
  width: 52px;
  position: relative;
  border-radius: var(--br-21xl);
  z-index: 1;
  margin-left: -15px;
}
.muSTHistory {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.atMahindraUniversity,
.whyMust {
  position: relative;
  max-width: 100%;
}
.atMahindraUniversity {
  width: 893px;
  height: 144px;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-family: var(--font-pavanam);
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.whyMust {
  align-self: stretch;
  border-radius: var(--br-26xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-xl) var(--padding-xl)
    var(--padding-33xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-snow);
  font-family: var(--font-pt-sans-caption);
}
@media screen and (max-width: 975px) {
  .mustHistory {
    font-size: var(--font-size-7xl);
  }
  .whyMust {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mustHistory {
    font-size: var(--font-size-lgi);
  }
}
