@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pavanam:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-pavanam: Pavanam;
  --font-pt-sans-caption: "PT Sans Caption";
  --font-quicksand: Quicksand;
  --font-red-hat-mono: "Red Hat Mono";
  --nav-1: Poppins;
  --font-bellota-text: "Bellota Text";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --nav-1-size: 16px;
  --font-size-xl: 20px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-snow: #fbf5f5;
  --color-black: #000;
  --color-mistyrose: #f0dddd;
  --color-lavenderblush: #faeaea;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-57xl: 76px;
  --gap-sm-2: 13.2px;
  --gap-6xs-4: 6.4px;
  --gap-22xl: 41px;
  --gap-xl: 20px;
  --gap-4xl-2: 23.2px;
  --gap-smi: 13px;
  --gap-11xs: 2px;
  --gap-sm: 14px;
  --gap-11xs-8: 1.8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-46xl: 65px;
  --padding-3xl: 22px;
  --padding-33xl: 52px;
  --padding-7xl: 26px;
  --padding-9xs: 4px;
  --padding-8xl: 27px;
  --padding-7xs: 6px;
  --padding-16xl: 35px;
  --padding-6xs: 7px;
  --padding-6xl: 25px;
  --padding-134xl: 153px;
  --padding-80xl: 99px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-5xs-8: 7.8px;
  --padding-4xs: 9px;
  --padding-4xl: 23px;
  --padding-base: 16px;
  --padding-32xl: 51px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-21xl: 40px;
  --br-81xl: 100px;
}
